header{
	background-color:#B22222;
	max-height:200px;
}

h1 {

	font-family: 'Raleway', sans-serif;
	text-align:center;
	text-transform: uppercase;
	font-weight: 400;	
	color:#FFF;	
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#h1Topo{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;	
	color:#8B1A1A;
	padding-bottom: 60px;
}
#h1Topo2{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;	
	color:white;
	padding-bottom: 60px;
}
#containerMiddle{
	background-color:white;
	min-height: 800px;
    height: auto;
    width: 100%;
    text-align: left;
}
#rowContainerMiddle{	
	float: none;
	margin: 0 auto;
	margin-top: 30px;
    text-align: left; 
    margin-left: 100px;
   
}
#parallaxBar{
	height:780px;
	background-color:#8B1A1A;
	background: url(../img/prog.jpg) 50% 0 fixed;
    position: relative; 	
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    
}

#footerMenu{
	margin-top:40px;
	margin-bottom: 0px;
}

footer{
	height:330px;
	background: url(../img/prog.jpg) 50% 0 fixed;	
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.spanFooterBar{
	color:#8B1A1A;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 500;	
}

.socialIcons li{
	display: inline-block;
	list-style: none;
	margin-left:10px;
}

.socialIcons li:hover{
	opacity:0.5;
	filter:Alpha(opacity=50); /* IE8 and earlier */	
}

.fundomenu{
    background-color: aqua;
}
